.content {
  border-top: 1px solid rgba(199, 199, 199, 0.4470588235);
  padding: 15px 0;
}
.section-header {
  display: flex;
  margin-bottom: 1rem;
}
.section-title {
  margin: 0;
  display: inline-block;
  margin-inline-end: 16px;
  font-size: 19px;
  font-weight: 700;
  color: #222b45;
}
