<app-page-section
  #section.link
  [sectionLinks]="sectionLinks"
  [section]="section"
>
  <div class="row">
    <app-card class="card"></app-card>
    <app-card class="card">
      <div class="card-body">
        <app-filters [filterOptions]="filterOptions" [allDataLangth]="tableData.length"></app-filters>
        <app-table
        class="card-table"
          [columns]="tableColumns"
          [data]="tableData"
          [items]="columnSettings"
        ></app-table>
      </div>
    </app-card>
  </div>
</app-page-section>
