:host {
  margin-left: 5px;
  // position: absolute;
  // right: 0;
}
.percentage-bar {
  height: 10px;
  background-color: rgb(239, 245, 249);
  // position: relative;
  width: 38px;
  .percentage-content {
    height: 100%;
  }
  .blue {
    height: 100%;
    background-color: rgb(80, 203, 253);
    &:hover {
      opacity: 0.83;
    }
  }

  .red {
    height: 100%;
    background-color: rgb(233, 94, 124);
    &:hover {
      opacity: 0.83;
    }
  }
}
