// .row {
//   display: flex;
//   width: 100%;
//   height: max-content;
//   margin-bottom: 20px;

//   .card {
//     height: 350px;
//   }
// }

.row {
  display: flex;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;

  .card {
    // flex-basis: calc(100% / 3);
    flex-grow: 1;
    height: 100%;
    .card-body {
      display: flex;
      flex-direction: column;
      height: 100%;

      .card-table {
        flex-grow: 1;
        min-height: 0;
      }
    }
  }
}
