<app-dashboard-navbar></app-dashboard-navbar>
<div class="dashboard-main">
  <app-view-on [viewOnData]="viewOnData"></app-view-on>
  <app-main-measures></app-main-measures>
  <app-indices-of-general-morbidity [tableData]="IndicesOfGeneralMorbidityData"></app-indices-of-general-morbidity>
  <app-morbidity-and-hospitalization-of-children></app-morbidity-and-hospitalization-of-children>
  <app-morbidity-from-abroad [tableData]="MorbidityFromAbroadData"></app-morbidity-from-abroad>
  <app-the-effect-of-vaccination-on-incidence></app-the-effect-of-vaccination-on-incidence>
  <app-deaths></app-deaths>
  <app-tests></app-tests>
  <app-additional-investigation></app-additional-investigation>
  <app-recovery-and-return-sick></app-recovery-and-return-sick>
  <app-population-vaccination></app-population-vaccination>
  <app-lights-in-settlements [tableData]="LightsInSettlementsData"></app-lights-in-settlements>
</div>
